<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Projects</title>
</head>
<style>
    .form-n{
        border: 1px solid;
        padding: 15px 15px 15px 15px;
        width: 300px;
        height: 250px;
    }
</style>
<body>
    <div th:if="${message != null}">
        [[${message}]]
    </div>
    <div th:if="${error != null}">
        [[${error}]]
    </div>
    <br>
    <br>
    <br>
    <center>
        <h1>Post Projects !!!!</h1>
    <form  method="post" th:object="${project}" class="form-n" enctype="multipart/form-data">
     <br>
     <br>
        <input  type="text" placeholder="enter title" th:field="*{title}"  required>
        <br>
        <br>
        <textarea placeholder="enter content" th:field="*{content}" required></textarea>
        <br>
        <br>
        <label>Image:</label>
        <input type="file" name="image"/>
        <br>
        <br>
        <br>
        <input type="submit">
        </form>
    </center>
</body>
</html>