<h1>Works!!!!!</h1>
<ul>
    <div th:if="${message != null}">
        [[${message}]]
    </div>
    <div th:if="${error != null}">
        [[${error}]]
    </div>
    <a href="/admin-page/projects/new">Create Project</a>
    <li th:each="project : ${projects}">
        <img th:src="@{../uploads/{image}(image=${project.imageUrl})}" alt="Post Image"/>
        <h2 th:text="${project.title}">Blog Title</h2>
        <p th:text="${project.content}">Blog Content</p>
        <p>Created at: <span th:text="${project.createdAt}">Date</span></p>
        <a th:href="@{/admin-page/projects/update/{id}(id=${project.id})}">Update</a>
        <a th:href="@{'/admin-page/projects/confirmDelete/' + ${project.id}}">Delete</a>
    </li>
</ul>