<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div th:if="${message != null}">
        [[${message}]]
    </div>
    <div>
     Welcome , [[${users.getUsername()}]]
    </div>
        <a href="/register">Link to Register</a>
        <br>
        <a href="/login">Link to Login</a>
        <br>
        <a href="/logout">LogOut</a>
        <br>
        <a href="/projects">Projects</a>
        


</body>
</html>