<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<style>
    .form-n{
        border: 1px solid;
        padding: 15px 15px 15px 15px;
        width: 300px;
        height: 250px;
    }
</style>
<body>
    <div th:if="${param.error}">
        Invalid User Name Or Password
    </div>
    <div th:if="${param.logout}">
        Logout Sucessfull!!!!
    </div>
    <br>
    <br>
    <br>
    <center>
        <h1>Login Form !!!!</h1>
    <form th:action="@{/login}" method="post" class="form-n">
     <br>
     <br>
        <input  type="email" id="username" placeholder="enter email" name="username" required>
        <br>
        <br>
        <input  type="password" id="password"  placeholder="enter password" name="password" required>
        <br>
        <br>
        <br>
        <input type="submit">
        </form>
    </center>
</body>
</html>